---
title: Logging and Metrics
owner: Logging and Metrics
---

Loggregator is the next generation system for aggregating and streaming logs and metrics from all of the user apps and system components in a<%= vars.product_full=='Cloud Foundry' ? "" : "n"  %> <%= vars.product_full %> deployment.

[Loggregator on GitHub](https://github.com/cloudfoundry/loggregator)

# <a id='use-cases'></a> Using Loggregator

The main use cases are as follows:

- App developers can tail their application logs or dump the recent logs from the CF CLI, or stream these to a third party log archive and analysis service.

- Operators and administrators can access the **Loggregator [Firehose](./architecture.html#firehose)**, the combined stream of logs from all apps, plus metrics data from CF components.

- Operators can deploy [nozzles](./architecture.html#nozzles) to the Firehose. A nozzle is a component that listens to the Firehose for specified events and metrics and streams this data to external services.

## Table of Contents

* <a href="./architecture.html" class="subnav">Overview of the Loggregator System</a>

* <a href="./log-ops-guide.html" class="subnav">Loggregator Guide for Cloud Foundry Operators</a>

* <a href="../devguide/deploy-apps/streaming-logs.html" class="subnav">Application Logging in Cloud Foundry</a>

* <a href="./cc-uaa-logging.html" class="subnav">Security Event Logging for Cloud Controller and UAA</a>

* <a href="./all_metrics.html" class="subnav">Cloud Foundry Component Metrics</a>

* <a href="./nozzle-tutorial.html" class="subnav">Deploying a Nozzle to the Loggregator Firehose</a>

* <a href="./data-sources.html" class="subnav">Cloud Foundry Data Sources</a>

* <a href="./cli-plugin.html" class="subnav">Installing the Loggregator Plugin for cf CLI</a>

<%= vars.loggregator_links %>
