---
title: Loggregator Architecture
owner: Logging and Metrics
---

This topic describes the components of the Loggregator system and their functions. 

## <a id='diagram'></a> Architecture Diagram

The following diagram provides a visualization of the Loggregator system. To see a larger version of this diagram, click <a href="./images/loggregator.png">here</a>.

<%= image_tag 'loggregator.png' %>

## <a id='components'></a> Component Descriptions

The following table lists the relevant components from the diagram above and how they function within Loggregator. 

<table>
	<tr>
		<th>Part</th>
		<th>Function</th>
	</tr>
	<tr>
		<td>Source</td>
		<td>Sources are logging agents that run on the Cloud Foundry components.</td>
	</tr>
	<tr>
		<td>Metron</td>
		<td>Metron agents are co-located with sources. They collect logs and forward them to the Doppler servers.</td>
	</tr>
	<tr>
		<td>Doppler</td>
		<td>Dopplers gather logs from the Metron agents, store them in temporary buffers, and forward them to the Traffic Controller or to third party syslog drains.</td>
	</tr>
	<tr>
		<td>Traffic Controller</td>
		<td>Handles client requests for logs by serving the Firehose over WebSocket at the `/firehose` endpoint. Gathers and collates messages from all Doppler servers, and provides external API and message translation (as needed for legacy APIs). Exposes the Firehose.</td>
	</tr>
	<tr>
		<td>Firehose</td>
		<td>The Firehose is a WebSocket endpoint which streams all the event data coming from a deployment. The data stream includes logs, HTTP events and container metrics from all applications, and metrics from all <%= vars.product_full %> system components. Logs from system components such as Cloud Controller are not included in the firehose and are typically accessed via rsyslog configuration. The events coming out of the Firehose are formatted as protobuf messages conforming to the [dropsonde protocol](https://github.com/cloudfoundry/dropsonde-protocol).
</td>
	</tr>
	<tr>
		<td>Nozzles</td>
		<td>Nozzles are apps that consume logs and metrics from the CF platform by doing the following:
		<ul>
		<li>
		Selecting, buffering, and transforming data from the Loggregator Firehose
		</li>
		<li>
		Forwarding that data to other apps and services.
		</li>
		</ul>
		</td>
	</tr>
</table>