---
title: Overview
owner: Loggregator
---

**This topic should begin with a brief description of your product. See below for an example.**

This documentation describes the Loggregator Component of Cloud Foundry (CF). [INSERT HIGH LEVEL DESCRIPTION HERE]

## <a id='overview'></a>Overview

**The overview should provide a description of the product's key features.**

YOUR-PRODUCT-NAME includes the following key features:

* Feature one.
* Feature two.
* Feature three.

## <a id="reqs"></a>Requirements

**Provide any general or specific requirements, prerequisites, or dependencies here. 
A general requirement might be something like, "An AppDynamics account." 
A specific requirement might be something like, "Packaging Dependencies for Offline Buildpacks."**

YOUR-PRODUCT-NAME has the following requirements:

+ PREREQUISITE-1

+ PREREQUISITE-2

## <a id="limitations"></a>Limitations

**List any known limitations.**

### <a id='logs-vs-metrics'></a>Difference Between Logs and Metrics

The Firehose carries both logs and metrics, which differ as follows:

* **Metrics**
  - Report a measurement from or status of a VM at its timestamp time
  - Follow [dropsonde](https://github.com/cloudfoundry/dropsonde-protocol) or [statsd](https://github.com/etsy/statsd) protocol
  - Can route to a monitoring platform to trigger alerts
* **Logs**
  - Report events detected, actions taken, errors, or any other messages the operator or developer wanted to generate
  - Follow the syslog standard
  - Are not used to trigger alerts 
